<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TOSExpViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ToS.ExpTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PollingIntervalMs" value="250"/>
    <add key="CurrentExpMemAddress" value="0x0145D7F8"/>
    <add key="CurrentClassExpMemAddress" value="0x011FACD8"/>
    <add key="CurrentClassTier" value="0x011FACE6"/>
    <add key="StreamOutput" value="false"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <TOSExpViewer.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MetroThemeBaseColor" serializeAs="String">
                <value />
            </setting>
            <setting name="MetroThemeAccentColor" serializeAs="String">
                <value />
            </setting>
            <setting name="HideCurrentBaseExperience" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideGainedBaseExperience" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideCurrentBaseExperencePercent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideRequiredBaseExperience" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideKillsTilNextLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideLastExperienceGain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideExperiencePerHour" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideTimeToLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideLastExperienceGainPercent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideSessionTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowClassExperienceRow" serializeAs="String">
                <value>True</value>
            </setting>
        </TOSExpViewer.Properties.Settings>
        <ToS.ExpTracker.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
        </ToS.ExpTracker.Properties.Settings>
    </userSettings>
</configuration>
